<%= flash[:notice] %>

<%= link_to_remote "Selecione os Cursos", :url=>{:controller=>"event", :action=>"select_course", :id=>params[:id]} %> |
<%= link_to_remote "Selecione o departamento de um funcionário", :url=>{:controller=>"event", :action=>"select_employee_department", :id=>params[:id]} %>

<div id="select-options"></div>

<%= link_to "Concluído", :controller=>"event", :action=>"index" %>
